<form name="myForm" ng-controller="EmailCtrl">
    <!-- Input with validation -->
    Contact Email: <input type="email" name="input" ng-model="email.text" required /> <br>
    Subject: <input type="text" name="subject" ng-model="subject.text" required /> <br>
    Message: <textarea name="message" ng-model="sendEmail" rows="4" cols="50" ng-minlength="4" ng-maxlength="255" required > Enter message here...</textarea><br>
<!--
    <textarea rows="4" cols="50" name="comment" form="usrform">
Enter text here...</textarea>
-->

    <span ng-show="myForm.message.$error.minlength">Message must be more than 4 characters.</span>
    <span ng-show="myForm.message.$error.maxlength">Message cannot exceed 255 characters.</span>
    <span ng-show="myForm.message.$error.required">Message required.</span>
    <span ng-show="myForm.email.$valid">Email has been verified</span>
    <span ng-show="!myForm.email.$valid">Email is not valid. Please verify spelling is correct.</span>
    <span ng-show="myForm.subject.$error.required">Subject is required.</span>

    <button ng-click="update(email.text, subject.text, sendEmail)" ng-disabled="myForm.$invalid">Send Email</button>
</form>