<!doctype html>
<html>
<head>
    <title>Starting Angular</title>
        <!--angular-->
    <script src="https://code.angularjs.org/1.5.8/angular.js"></script>
    <!--site-->
    <script src="js/app.js"></script>
</head>
<!-- Notice here the ng-app references our 'weatherApp' module -->
<body ng-app='weatherApp'>
    <!-- Reference the application level controller for the title model. -->
    <div ng-controller="AppCtrl" ng-model="title">
        <h1>{{title}}</h1>
		<h3>Run this in brackets and use the Chrome debugger.</h3>

        <hr>
        <!-- Our one page app works by switching views here. -->
        <div ng-click="update()">Travel Destinations</div>
        <div ng-repeat="fc in forecast | orderBy:orderProp">
        Click ->: <label ng-click="update(fc['cityName'])">{{fc['cityName']}}</label><br/>
        </div>
        <br/>
        <h3 id="updatedCity">{{city}}</h3>
            <p id="updatedText">{{text}}</p>
            <p id="updatedHigh">{{high}}</p>
            <p id="updatedLow">{{low}}</p>
            <input type="radio" ng-model="fahr" />
            <input type="radio" ng-model="celsius /">
        <br/>
        
    </div>
</body>
</html>
