<!doctype html>
<html>
<head>
    <title></title>
    <script src="https://code.angularjs.org/1.5.8/angular.js"></script>
    <script>
        var myApp = angular.module('myApp', []);
        myApp.controller('ExampleController', ['$scope', function ($scope) {
            $scope.mailService = ["UPS", "Fedex"];
//            $scope.update = function (input) {
//                $scope.mailService = "";
//                
//            }
        }]);
    </script>
</head>
<body ng-app="myApp" ng-controller="ExampleController">
    Mail hard copy?
    <input name="mail" type="checkbox" ng-model="checked" ng-change="update(checked)" ng-required=true><br />
    Select Mail Service:
    <select id="transferTo" ng-disabled="!checked" ng-model="mailService">
        <option ng-repeat="serv in mailService" ng-model="mailService">{{serv}}</option>
    </select>
    <br />
    <!-- Only show if checkbox is checked and mailService is selected -->
    <div ng-show="checked && mailService" 
         ng-disabled="!checked">Thank you for choosing {{mailService}}.</div>
         <div ng-show="mail.$valid">{{mail.$valid}}</div>
         
</body>
</html>