<!doctype html>
<html>
<head>
    <title>Starting Angular</title>
</head>
<!-- The ng-app directive triggers load and setup of AngularJS
     after the DOM is loaded.
     It sets the tag as the root of the AngularJS app.  -->
<body ng-app="cardApp">
    <!-- Identify the controller and model to be used. -->
    <div ng-controller="MainController">
        <!-- The ng-bind gets data from the model. Anything nested in this controller div is supported by the controller -->
        <h1 ng-bind="greeting"></h1>
        <select ng-model="orderProp">
            <option value="suit">Suit</option>
            <option value="numOrd">Number</option>
        </select>
        <br />
        <table>
            <tr><th>Number</th><th>Suit</th></tr>
            <!-- Populate the HTML with each object in the cards model. -->
            <tr ng-repeat="card in cards | orderBy:orderProp ">
                <td ng-bind ="card.number"></td>
                <td ng-bind ="card.suit"></td>
            </tr>
        </table>
        <br />
        <ul>
            <li ng-repeat="card in cards | orderBy: 'suit'">{{card.number}} {{card.suit}}</li>
        </ul>
    </div>
    <script src="https://code.angularjs.org/1.5.8/angular.js"></script>
    <script src="js/controllers.js"></script>
</body>
</html>