<!doctype html>
<html>
<head>
    <title></title>
    <script src="https://code.angularjs.org/1.5.8/angular.js"></script>
    <script>
        var formSample = angular.module('formSample', []);
        formSample.controller('ExampleController', ['$scope', function ($scope) {
            $scope.greeting = "Hello world!";
            $scope.secondGreeting = "Show any text";
        }]);
    </script>
</head>
<body ng-app="formSample" ng-controller="ExampleController">
    <input type="text" ng-model="greeting" /> <br />
    <p ng-bind="greeting"></p>
</body>
<input type="text" ng-model="secondGreeting" />
<h3 ng-bind="secondGreeting"></h3>
</html>